.bg-hover {
  &:hover {
    background: map-get($colors, bg-primary) !important;
    color: map-get($colors, white);
    transition: 0.1s ease-in-out;
  }
  &:hover .category-item,
  &:hover .drop-down-username {
    color: map-get($colors, white) !important;
  }
}

.cls-hover {
  &:hover,
  &:hover .drop-down-title {
    color: map-get($colors, bg-primary) !important;
    transition: 0.5s ease-in-out;
  }
}

.section-padding {
  padding-top: convertPxToRem(110px);
  padding-bottom: convertPxToRem(95px);
}

.title {
  color: map-get($colors, primary);
  font-family: $font-menu;
  font-size: convertPxToRem(36px);
  font-weight: 500;
  line-height: 1.4;
  position: relative;
  width: fit-content;
  z-index: 10;
  padding-left: convertPxToRem(12px);
}

.shape {
  position: absolute;
  width: convertPxToRem(72px);
  height: 100%;
  background: map-get($colors, cls-section);
  z-index: -1;
  left: 0;
  top: 0;
  line-height: 1;
}

.items-list {
  @include pxRem(margin-top, 68);
  @include pxRem(margin-bottom, 27);
  @include pxRem(padding, 0 32);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.title-center {
  margin: 0 auto;
  text-align: center;
}

.position-relative {
  position: relative;
}
.select-form-list {
  @include pxRem(margin-top, 4);
  background: #fff;
  @include pxRem(padding, 5);
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  transform-origin: 50% 0;
}
.form-item {
  cursor: pointer;
  font-weight: 400;
  line-height: convertPxToRem(40px);
  padding-left: convertPxToRem(18px);
  padding-right: convertPxToRem(29px);
  text-align: left;
  color: #071112;
  font-size: convertPxToRem(16px);
  &:hover {
    background-color: #f6f6f6;
  }
}
.focus {
  @include pxRem(margin-top, 6);
  background-color: #f6f6f6;
  font-weight: 700;
}

.lazy-scroll,
.about-lazy-scroll,
.lazy-scroll-desc,
.col-1-item,
.listsing-item,
.footer-lazy-scroll,
.scroll-to-left {
  opacity: 0;
  transition: 1s all ease;
}

.lazy-scroll.active {
  opacity: 1;
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(5) {
    animation: fadeToLeft 1s ease-in-out;
  }
  &:nth-child(3) {
    animation: fadeToTop 1s ease-in-out;
  }
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(9),
  &:nth-child(10) {
    animation: fadeToRight 1s ease-in-out;
  }
  &:nth-child(8) {
    animation: fadeToBottom 1s ease-in-out;
  }
}
.about-lazy-scroll.active {
  opacity: 1;
  &:nth-child(2) {
    animation: fadeToRight 1s ease-in-out;
  }
  &:nth-child(1) {
    animation: fadeToLeft 1s ease-in-out;
  }
}
.lazy-scroll-desc.active,
.footer-lazy-scroll.active {
  opacity: 1;
  animation: fadeToTop 1s ease-in-out;
}
.col-1-item.active {
  opacity: 1;
  animation: fadeToTop 1s ease-in-out;
  animation-delay: 0;
  &:nth-child(2) {
    animation-delay: 0.1s;
  }
  &:nth-child(3) {
    animation-delay: 0.3s;
  }
}
.listsing-item.active {
  opacity: 1;
  animation: fadeToTop 1s ease-in-out;
  animation-delay: 0;
  &:nth-child(1) {
    animation-delay: 0.1s;
  }
  &:nth-child(2) {
    animation-delay: 0.1s;
  }
  &:nth-child(3) {
    animation-delay: 0.2s;
  }
  &:nth-child(4) {
    animation-delay: 0.25s;
  }
  &:nth-child(5) {
    animation-delay: 0.3s;
  }
  &:nth-child(6) {
    animation-delay: 0.35s;
  }
  &:nth-child(7) {
    animation-delay: 0.4s;
  }
}
.scroll-to-left.active {
  opacity: 1;
  animation: fadeToRight 1s ease-in-out;
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeToTop {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeToBottom {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeToLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeToShow {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
