.page_404 {
  padding: convertPxToRem(40px) 0;
  background: #fff;
  font-family: "Arvo", serif;
  display: flex;
  justify-content: center;

  .container,
  .col-sm-12 {
    width: 100%;
    height: 100%;
  }
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: convertPxToRem(400px);
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: convertPxToRem(80px);
}

.four_zero_four_bg h3 {
  font-size: convertPxToRem(80px);
}

.link_404 {
  color: #fff !important;
  @include pxRem(padding, 10 20);
  background: #39ac31;
  @include pxRem(margin, 20 0);
  display: inline-block;
}

.contant_box_404 {
  @include pxRem(margin-top, -50);
}
