.page-main {
  min-height: 80vh;
  .section-hero {
    background: map-get($colors, bg-section-hero);
    line-height: convertPxToRem(24px);
    @include pxRem(padding, 150 0 75);
    .pX-12 {
      @include pxRem(padding, 0 52);
      gap: 5rem;
    }
    .heroLeft {
      width: calc(100% / 2 - 1rem);
      .heroLeft-title {
        font-size: convertPxToRem(64px);
        color: map-get($colors, white);
        font-weight: 700;
        font-family: $font-menu;
        margin-bottom: convertPxToRem(29px);
        line-height: convertPxToRem(83px);
        .line {
          display: block;
        }
      }
      .heroLeft-form-search {
        background: #fff;
        padding: 20px;
        padding-bottom: 0;
        border-radius: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
        .select-form,
        .searchBox-wrapper,
        .searchBox-btn {
          margin-bottom: convertPxToRem(20px);
          height: convertPxToRem(60px);
          border-radius: convertPxToRem(8px);
          border: 1px solid #ddd;
          box-shadow: unset;
        }
        .searchBox-wrapper {
          width: 38%;
          color: map-get($colors, cls-form);
          font-weight: 400;
          @include pxRem(padding, 0 30);
          font-size: 16px;
        }
        .searchBox-btn {
          cursor: pointer;
          width: 23%;
          color: map-get($colors, white);
          font-size: convertPxToRem(16px);
          font-weight: 500;
          background: map-get($colors, bg-primary);
          text-transform: capitalize;
          border: none;
        }
      }
      .select-form {
        cursor: pointer;
        position: relative;
        width: 36%;
        .select-form-value {
          color: #667085;
          line-height: convertPxToRem(60px);
          font-size: convertPxToRem(16px);
          text-align: center;
          display: block;
          align-items: center;
          @include pxRem(padding, 0 20);
        }
        .current {
          @include pxRem(padding, 0 20);
        }
        .search-sub-form {
          border: 1px solid #ddd;
          box-shadow: unset;
          border-radius: unset;
          outline: none;
        }
      }
      .heroLeft-desc {
        color: rgba(255, 255, 255, 0.7);
        font-size: convertPxToRem(20px);
        font-weight: 400;
        hyphens: auto;
        margin-bottom: convertPxToRem(50px);
        padding-right: convertPxToRem(13px);
      }
    }
    .heroRight {
      position: relative;
      z-index: 99;
      .heroRight-image {
        transform: perspective(convertPxToRem(300px)) rotateX(0deg)
          rotateY(0deg);
        transition: all 0.15s ease-in-out;
      }
      .heroRight-sub-image {
        position: absolute !important;
        right: 8%;
        top: 14%;
        .heartbeat {
          animation: heartbeat 1s infinite alternate;
        }
        @keyframes heartbeat {
          from {
            transform: scale(0.95);
          }
          to {
            transform: scale(1);
          }
        }
      }
    }
  }
  .section-category {
    background: #fff;
    .category-item {
      overflow: hidden;
      position: relative;
      border-radius: convertPxToRem(24px);
      display: inline-flex;
      width: calc(100% / 5 - 1.2rem);
      &::after {
        position: absolute;
        content: "";
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(rgba(0, 0, 0, 0.99)),
          to(rgba(255, 255, 255, 0))
        );
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.99) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
      cursor: pointer;
      &:hover .category-item-image {
        transform: scale(1.2);
        transition: all 0.4s ease-in-out;
      }
      .category-item-image {
        border-radius: convertPxToRem(24px);
        position: relative;
        width: 100%;
        min-height: convertPxToRem(190px);
        transition: all 0.4s ease-in-out;
      }
      .category-item-content {
        position: absolute;
        bottom: convertPxToRem(-7px);
        left: 50%;
        z-index: 1;
        text-align: center;
        font-family: $font-menu;
        transform: translate(-50%, -50%);
        color: map-get($colors, white);
        .category-item-name {
          transition: 0.4s;
          font-size: convertPxToRem(20px);
          font-weight: 600;
          color: #fff;
          &:hover {
            color: map-get($colors, bg-primary) !important;
          }
        }
        .category-item-pera {
          margin-top: convertPxToRem(6px);
          font-size: convertPxToRem(13px);
          font-weight: 300;
          margin-bottom: 0;
        }
      }
    }
  }
  .section-feature {
    .feature-title {
      @include pxRem(margin-left, 32);
    }
    .section-feature-list {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .section-price {
    @include pxRem(margin-top, 95);
    .price-item {
      @include pxRem(padding, 33 23);
      border: 1px solid #d0d5dd;
      overflow: hidden !important;
      position: relative;
      border-radius: convertPxToRem(12px);
      background: #fff;
      width: calc(100% / 3 - 1rem);
      box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
      &:hover {
        border: 1px solid map-get($colors, cls-subcap);
      }
      &:hover .mutilate-hover {
        color: map-get($colors, cls-subcap);
        transition: all 0.4s ease-in-out;
      }
      &:hover .btn-item-price {
        color: map-get($colors, white);
      }
      &:hover .btn-item-price::before {
        transform: scaleX(1);
        border: 1px solid transparent;
        z-index: -1;
      }
      .price-item-title {
        transition: 0.4s;
        font-size: convertPxToRem(24px);
        color: map-get($colors, primary);
        font-family: $font-menu;
        font-weight: 500;
        @include pxRem(padding-bottom, 20);
      }
      .price-item-list {
        .item-listing {
          display: flex;
          align-items: center;
          font-family: $font-menu;
          color: #475467;
          @include pxRem(padding-bottom, 22);
          font-size: convertPxToRem(16px);
          .icon-listing {
            color: #4caf50;
            padding-right: convertPxToRem(15px);
            font-weight: 700;
          }
        }
      }
      .item-price {
        color: map-get($colors, primary);
        font-size: convertPxToRem(48px);
        font-weight: 700;
        font-family: $font-body;
        padding-bottom: convertPxToRem(31px);
        display: block;
        .sub-title {
          font-family: $font-menu;
          font-weight: 400;
          color: #667085 !important;
          font-size: convertPxToRem(16px);
        }
      }
      .btn-item-price {
        z-index: 2;
        font-family: $font-menu;
        border: 1px solid #d0d5dd;
        color: #667085;
        font-size: convertPxToRem(15px);
        font-weight: 500;
        @include pxRem(padding, 17 15);
        cursor: pointer;
        transition: color 0.4s linear;
        position: relative;
        border-radius: convertPxToRem(8px);
        width: 100%;
        overflow: hidden;
        display: inline-block;
        background: 0;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 101%;
          height: 101%;
          background: map-get($colors, cls-subcap);
          transition: transform 0.5s ease;
          transform-origin: 0 0;
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transform: scaleX(0);
          border-radius: 0;
        }
      }
    }
  }
  .section-about {
    @include pxRem(margin-top, 95);
    background: #f9fafb;
    .about-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      text-align: center;
      gap: 1.5rem;
      margin: 0 auto;
      @include pxRem(padding-bottom, 5);
      .about-title {
        font-size: convertPxToRem(48px);
        line-height: 1.3;
        font-family: $font-menu;
      }
      .about-desc {
        color: #667085;
        line-height: 1.6;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: convertPxToRem(15px);
      }
    }
    .btn-wrapper {
      @include pxRem(margin-top, 45);
      align-items: center;
      gap: 1rem;
      .btn-main {
        font-family: $font-menu;
        transition: 0.4s;
        border: 1px solid transparent;
        color: map-get($colors, white);
        @include pxRem(padding, 16 45);
        font-size: convertPxToRem(16px);
        font-weight: 400;
        border-radius: convertPxToRem(8px);
        &:hover {
          border: 1px solid map-get($colors, bg-primary);
          color: map-get($colors, bg-primary);
          background: map-get($colors, white);
          transition: all 0.3s ease;
        }
      }
      .btn-post {
        background: map-get($colors, bg-primary);
      }
      .btn-browser {
        background: #475467;
      }
    }
    .about-image1,
    .about-image2 {
      position: absolute;
      top: -5%;
      z-index: 1;
      animation: bouncebubble infinite 5s;
      @keyframes bouncebubble {
        1% {
          transform: translateY(0);
        }
        25% {
          transform: translateY(-10px);
        }
        50% {
          transform: translateX(10px);
        }
        75% {
          transform: translateX(-10px);
        }
        100% {
          transform: translateY(0);
          transform: translateX(0);
        }
      }
    }
    .about-image1 {
      left: 4%;
    }
    .about-image2 {
      right: 4%;
    }
  }
}

@include respond-below(largest) {
  .page-header {
    .container {
      @include pxRem(padding, 0 15);
      .logo {
        width: convertPxToRem(156px);
        height: convertPxToRem(32px);
      }
    }
    .header-nav-list {
      line-height: 50px;
      .header-nav-item {
        @include pxRem(padding, 10);
        font-size: 15px;
      }
    }
    .header-socials-list {
      gap: convertPxToRem(5px);
    }
    .header-socials-item {
      .btn-chat {
        @include pxRem(padding, 6 7);
        .chat-name {
          display: none;
        }
      }
      .btn-heart,
      .btn-user,
      .btn-chat,
      .btn-plus {
        width: convertPxToRem(30px);
        @include pxRem(padding, 5);
        height: convertPxToRem(30px);
        line-height: convertPxToRem(30px);
        font-size: convertPxToRem(15px);
        .btn-icon-plus,
        .btn-chat-icon {
          @include pxRem(padding, 0);
          font-size: convertPxToRem(15px);
        }
      }
    }
  }
  .page-main {
    .section-hero {
      .pX-12 {
        @include pxRem(padding, 0 15);
        gap: 1rem;
      }
      .heroLeft {
        width: calc(70%);
        .heroLeft-title {
          font-size: convertPxToRem(47px);
          line-height: 1.2;
        }
      }
    }
    .section-feature {
      .section-feature-list {
        .feature-item-image {
          min-height: convertPxToRem(170px);
        }
      }
    }
    .section-category {
      .category-item {
        width: calc(100% / 4 - 1.15rem);
      }
    }
  }
  .page-footer {
    .footer-container {
      flex-wrap: wrap;
      gap: 1.5rem;
    }
    .footer-col-3,
    .footer-col-middle {
      width: calc(50% - 1.5rem);
    }
  }
}
@include respond-below(large) {
  .container {
    @include pxRem(padding, 0 10);
  }
  .page-main {
    .section-padding {
      padding-top: 70px;
      padding-bottom: 45px;
    }
    .section-hero {
      .heroLeft {
        width: 100%;
      }
      .heroRight {
        display: none;
      }
    }
    .section-feature {
      .section-feature-list {
        .feature-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
        }
        .feature-item-content {
          width: 92%;
        }
      }
    }
    .section-price {
      .price-item {
        width: calc(50% - 0.8rem);
      }
    }
    .section-about {
      .about-container {
        width: 80%;
      }
      .about-image1,
      .about-image2 {
        display: none;
      }
    }
  }
  .page-footer {
    .footer-col-3 {
      width: 100%;
    }
  }
}
@include respond-below(wide) {
  .container {
    @include pxRem(padding, 0 80);
  }
  .drop-down-list {
    .drop-down-category {
      flex-wrap: wrap;
      &:hover .menuWrapper {
        display: block;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .menuWrapper {
    left: 0;
    min-width: 100%;
    display: none;
    min-height: convertPxToRem(250px);
    max-height: convertPxToRem(250px);
    position: inherit;
    overflow: scroll !important;
  }
  .pages-mobile {
    width: convertPxToRem(220px);
    overflow: scroll;
    height: convertPxToRem(220px);
    position: relative;
    left: 0;
    top: 0;
  }
  .page-header {
    @include pxRem(padding-top, 13);
    @include pxRem(padding-bottom, 0);
    .container {
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      .header-logo {
        margin-right: 2rem;
      }
      .header-nav-list {
        flex-basis: 52%;
        max-height: 0;
        line-height: convertPxToRem(30px);
        display: block;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        .header-nav-item {
          @include pxRem(padding, 10 20);
          display: block;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          &:first-child {
            border-top: unset;
          }
          &:last-child {
            border-bottom: unset;
          }
        }
      }
    }
    .header-socials-list {
      opacity: 0;
      left: 100%;
      position: sticky;
      top: 35%;
      max-height: 0;
      transition: all 0.4s ease-in-out;
    }
    .btn-toggle-wrapper {
      display: block;
      @include pxRem(padding, 13 0);
    }
  }
  .page-main {
    .section-category {
      .category-item {
        width: calc(100% / 3 - 1rem);
        .category-item-image {
          height: convertPxToRem(200px);
        }
      }
    }
    .section-feature {
      .section-feature-list {
        .feature-item {
          width: 100%;
        }
        .feature-item-image {
          min-height: convertPxToRem(400px);
        }
      }
    }
  }
}
@include respond-below(medium) {
  .container {
    @include pxRem(padding, 60);
  }
  .col-padding {
    @include pxRem(padding, 0);
  }
  .title {
    font-size: convertPxToRem(24px);
  }
  .page-main {
    .section-hero {
      .heroLeft {
        .heroLeft-form-search {
          .select-form,
          .searchBox-wrapper,
          .searchBox-btn {
            width: 100%;
          }
        }
      }
    }
    .section-price {
      .price-item {
        width: 100%;
      }
    }
    .section-category {
      .category-item {
        width: calc(100% / 2 - 0.75rem);
      }
    }
    .section-feature {
      .section-feature-list {
        .feature-item-image {
          height: convertPxToRem(450px);
        }
      }
    }
    .section-about {
      .about-container {
        width: 100%;
        @include pxRem(padding, 0 10);
        .about-title {
          font-size: convertPxToRem(24px);
        }
      }
    }
  }
  .page-footer {
    .footer-col-3 {
      width: 100%;
    }
  }
}
@include respond-below(smaller) {
  .container {
    @include pxRem(padding, 0);
  }
  .items-list {
    @include pxRem(padding, 0 15);
  }
  .page-main {
    .section-category {
      .category-item {
        width: 100%;
        .category-item-image {
          height: convertPxToRem(350px);
        }
      }
    }
  }
}
