input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
  @include pxRem("padding", 8);
  @include pxRem("height", 40);
  @include pxRem(border-radius, 8);
  width: 100%;
  border: 1px solid map-get($colors, border-gray);
  color: map-get($colors, txt-primary);
  background: map-get($colors, white);
  outline: none;
  transition: border-color 0.4s;
  display: block;
  -webkit-appearance: none;
  transition: border-color 0.4s, box-shadow 0.4s;
  &:focus {
    border-color: map-get($colors, action-blue);
    box-shadow: 0 0 0 1px map-get($colors, action-blue);
  }
  &:disabled,
  &.disabled {
    background: map-get($colors, bg-gray-light);
    border-color: map-get($colors, bg-gray-light);
    color: map-get($colors, txt-disabled);
  }
  &::placeholder {
    color: map-get($colors, txt-disabled);
  }
  &[readonly] {
    border-color: map-get($colors, border-gray);
    box-shadow: none;
  }
}

// Remove icon eye in Edge
input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

// Prevent resize horizontal
textarea {
  resize: vertical;
}

// Label
label {
  @include pxRem(margin-bottom, 5);
  display: block;
}

// Group form control
.form-group {
  @include pxRem(margin-bottom, 20);
}

.form-admin {
  flex-direction: column;
  gap: 1.5rem;
  .form-input,
  .form-label {
    font-family: $font-menu;
    @include pxRem(font-size, 15);
  }
  .form-label {
    color: map-get($colors, white);
  }
  .form-input {
    border: 1px solid #e4e4e4;
    outline: none;
    @include pxRem(padding, 25);
    &:focus {
      box-shadow: unset;
    }
  }
  .input-desc {
    height: 6rem;
  }
  .btn {
    @include pxRem(font-size, 15);
    border-radius: convertPxToRem(10px);
  }
  .btn-submit {
    background: #7bc74d;
  }
  .btn-cancel {
    background: rgb(142, 141, 141);
  }
}
.product-cart,
.form-admin {
  width: calc(100% / 2 - 3rem);
}
.product-cart {
  .feature-item {
    width: 50%;
  }
}
